/*-------------------INICIO DE LA BASE-------------------------*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5rslzk');
  src:  url('../fonts/icomoon.eot?5rslzk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5rslzk') format('truetype'),
    url('../fonts/icomoon.woff?5rslzk') format('woff'),
    url('../fonts/icomoon.svg?5rslzk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.contenedor{
	width: 960px;
	margin:0 auto;
}
.left{
	float:left;
}
.right{
	float:right;
}
/*-------------------- FIN DE LA BASE-------------------------*/
/*-----------------NAV----------------------------------------*/

.holder{
	width: 960px;
	height: 70px;
	margin:0 auto;
	background-image: url(../img/marmol2.jpg);
	margin-bottom: 0.3em; /*para separarlo de la imagen que sigue*/
	margin:0;
	padding:0;
	margin-bottom: 1em;
}
.holder .row{
	margin:0;
	padding:0;
}

.holder a{
	color: black;
	text-decoration: none; 
	text-align: center;
	padding: 0.5em 0.4em;
	display: block;
	font-family: "Lobster";
	font-size: 25px;
	height: 115px;
	line-height: 50px;
}

.holder .col-2:hover{ 
	background-image: url(../img/impar.jpg);
	height: 70px;
	
}
.holder .col-2:hover a{
	color: white;
	text-decoration: none;
}

.holder .activo{ 
	background-image: url(../img/impar.jpg);
	height: 70px;
}
.holder .activo a{
	color: white;
	text-decoration: none;
}

/*-----------------fin del nav ---------------------------------*/
.pagina2{
	height:505px;
	margin-bottom: 10px;
}
.centro{
	height: 50px;
}
.centro h2{
	font-size: 70px;
	text-align: center;
	font-family: "Lobster";
	padding-top: 15px;
}
.centro p{
	font-size: 20px;
	font-family: Montserrat;
	text-align: justify;
	width: 620px;
	margin-left: 5px;
	margin-top: 35px;
	padding-top: 15px;
}
.left, 
.right{
	background-color: white;
	height: 500px;
}
.right img{
	padding: 0;
	float: right;
}
.left img{
	padding: 0;
	float: left;
}

/*------------ pie de pagina-------------------------------------------------------*/
footer{
	background-image: url(../img/marmol2.jpg);
	height: 80px;
}
footer .row{
	display: flex;
	align-content: flex-end;
}
.seguinos {
	text-align: right;
	font-size: 15px;
	padding-left: 130px;
	padding-right: 0;
	height: 100px;
	width: 529px;
	line-height: 80px;
}
.seguinos p{
	font-size: 55px;
	color:black;
	text-align: center;
	font-family: "Lobster";

}
.redes{
	padding-top: 5px;
	padding-left: 15px;
	height: 100px;
	width: 431px;
	display: inline-block;
	align-content: space-between;

}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92"; 
}
.icon-whatsapp:before {
  content: "\ea93"; 
}
.icon-telegram:before {
  content: "\ea95"; 
}
.icon-facebook, .icon-instagram, .icon-whatsapp, .icon-telegram{
	color: black;
	font-family:'icomoon';
	font-size: 50px;
	text-decoration: none;
	text-align: right;
}
.icon-facebook:hover, .icon-instagram:hover, .icon-whatsapp:hover, .icon-telegram:hover{
  text-decoration: none;
  color: #ff3684;
}

